<h1> Enter Login Info </h1>
<form method="POST" action="/login">
<label for="username"> Username: </label>
<input type="text" name="username"/>
<label for="password"> Password: </label>
<input type="password" name="password"/>
<input type="submit" id="submit" value="Submit">
</form>