<% if logged_in? %>
<p> Current User: <%= current_user.name %></p>
<% end%>
<h2>Posted Hikes</h2>
<% @hikes.each do |h| %>
<h4><a href="/hikes/<%=h.id%>"><%= h.location %></a></h4>
<% end %>
<br>
<h3><a href="/hikes/new">Record a New Hike</a></h3>


