<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Record your hike info here:</h1>
<form method="POST" action="/hikes"><br>
<label> Location: </label>
<input id="location" type="text" name="location"><br>
<br>
<label> Distance in Miles: </label>
<input id="distance" type="text" name="distance"><br>
<br>
<label> Terrain Difficulty: </label>
<input id="terrain" type="text" name="terrain"><br>
<br>
<label> Description: </label>
<input id="description" type="text" name="description"><br>
<br>
<input type="submit" id="submit" value="Submit">
</form>