<h1>Record your hike info here:</h1>
<form method="post" action="/hikes"><br>
<label> Location: </label>
<input id="location" type="text" name="location">
<label> Distance in Miles: </label>
<input id="distance" type="text" name="distance">
<label> Terrain: </label>
<input id="terrain" type="text" name="terrain">
<label> Description: </label>
<input id="description" type="text" name="description">
<input type="submit" id="submit" value="Submit">
</form>