<!DOCTYPE html>
  <head>
  <style>
  body {background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Hiking_to_the_Ice_Lakes._San_Juan_National_Forest%2C_Colorado.jpg/1920px-Hiking_to_the_Ice_Lakes._San_Juan_National_Forest%2C_Colorado.jpg');}
  </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraHikingApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="topnav">
    <ul>
      <% if !logged_in? %>
      <li><a href="/login">Login</a></li> 
      <li><a href="/sign_up">Sign Up</a></li> 
      <% end %>
      <% if logged_in? %>
      <li><a href="/hikes">All Hikes</a></li> 
      <li><a href="/hikes/new">Add Hike</a></li> 
      <li><a href="/users/<%= current_user.id %>">Profile</a></li>
      <li><a href="/log_out">Log Out</a></li>
      <% end %>
      </ul>
    </div>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Micks Hiking Applications</strong></small>
      </footer>
    </div>
  </body>
</html>
