<h1>Welcome to the ultimate hiking app! </h1>
<h2> In every walk with nature, one receives far more than they seek. </h2>
<form method="POST" action="/login">
<input type="submit" id="submit" value="Sign In">
</form>
<br>
<p>Don't have an account? Sign up here.</p>
<form method="POST" action="/sign_up">
<input type="submit" id="submit" value="Sign Up">
</form>